{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="{% static 'styles/home.css'%}">
    <title>Travel Dashboard</title>
</head>
<body>
    {% if logged_in %}
        <div class="main">
            <a href="/travels"><img src="/static/img/logo-daone.svg" alt="logo" id="logo"></a>
            <a href="/logout" class = "logout-btn">Log out</a>
            <div>
                <h1 class = "title"> Welcome {{user.name}}!</h1>
                <a href="#trips" class = "button signup-btn"><button class="learn">Start your journey</button></a>
            </div>
        </div>
    {% else %}
        <div class="main">
            <a href="/travels"><img src="/static/img/logo-daone.svg" alt="logo" id="logo"></a>
            <nav>
                <ul>
                    <li><a href="/login" class = "button login-btn">Login</a></li>
                    <li><a href="" class = "button login-btn">|</a></li>
                    <li><a href="/signup" class = "button login-btn">Sign up</a></li>
                </ul>
            </nav>
            <div>
                <h1 class = "title">Start Planning Your Adventure Today</h1>
                <a href="#about" class = "button signup-btn"><button class="learn">Learn More</button></a>
            </div>
        </div>
    {% endif %}


    <div class="about-section" id="about">
        <h2>About Us.</h2>
        <hr>
        <div class="about-grid">
            <img src="/static/img/about3.jpg" class="about-image" alt="about">
            <p>
           Planning a trip? Want someone to share the journey with?<br><br> Your travel companion is just a click away. You have come to the right place if you find yourself in need of finding a travel buddy. You can create trips and view the details of trips until you find the perfect match for you. <br><br>
           No matter how you imagine your perfect travel buddy, you can always find someone to team up with on Travel Buddy. We try to make the experience of finding a travel buddy as easy as possible so you can start traveling together in no time!!</p>
        </div>
    </div>


    {% if logged_in %}
        <div id="trips" class="your-travels-in">
            <div class="container">
                <h2>Your Trip Schedules</h2>
                <hr>
                {% if travels %}
                    <div class="cards">
                        {% for travel in travels %}
                        <div class="card">
                            <p style="margin-bottom: 7px;" class="card-name">{{travel.destination}}</p>
                            <p style="opacity: 0.5; margin-top: 3px; margin-bottom: 5px;">{{travel.start_date}} - {{travel.end_date}}</p>
                            <!-- <p style="opacity:0.7; margin-bottom: 5px;"><span>Creator: </span>{{travel.creator.name}}</p> -->
                            <!-- <p style="margin-bottom:5px; opacity:0.7;"><span>Description: </span>{{travel.description}}</p> -->
                            <a style="opacity: 0.8; color: #6288d6;" href="/travels/destination/{{travel.id}}">More info</a>
                        </div>
                        {% endfor %}
                    </div>
                {% else %}
                <div class="your-travels">
                    <div class="container">
                        <p>Sorry, you dont have any trips yet</p>
                        <img src="/static/img/sadface.png" class="sadface" alt="sad face">
                    </div>
                </div>
                {% endif %}
                <a href="/travels/add" class = "join-btn"><button class="join">Add Travel Plan</button></a>
            </div>
        </div>

    {% else %}
        <div class="your-travels">
            <div class="container">
                <h2>Your Trip Schedule</h2>
                <hr>
                <p>Sorry, you dont have any trips yet</p>
                <img src="/static/img/sadface.png" class="sadface" alt="sad face">
                <p>  <a href="/signup" class = "join-btn"><button class="join">Join</button></a> </p>
            </div>
        </div>
    {% endif %}


    <div class="quote-section">
        <div class="container">
            <img src="/static/img/world3.png" class="quote-image" alt="world">
            <h2 class="words">Travel the world together using our website - find your travel partner</h2>
        </div>
    </div>


    {% if logged_in %}
        <div class="all-travels">
            <div class="container">
                <h2>Other User's Travel Plans</h2>
                <hr>
                {% if others %}
                    <div class="cards">
                        {% for travel in others %}
                        <div class="card">
                            <p style="margin-bottom: 7px;" class="card-name">{{travel.destination}}</p>
                            <p style="opacity: 0.5; margin-top: 3px; margin-bottom: 5px;">{{travel.start_date}} - {{travel.end_date}}</p>
                            <p style="opacity:0.7; margin-bottom: 8px;"><span>Creator: </span>{{travel.creator.name}}</p>
                            <a style="opacity: 0.8; color: #6288d6; margin-right: 6px;" href="/travels/join/{{travel.id}}">Join</a>
                            <a style="opacity: 0.8; color: #6288d6;" href="/travels/destination/{{travel.id}}">More info</a>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div> 
    {% else %}
        <div class="all-travels">
            <div class="container">
                <h2>Other User's Travel Plans</h2>
                <hr>
                <!-- {% if others %} -->
                    <div class="cards">
                        {% for travel in others %}
                        <div class="card">
                            <p style="margin-bottom: 7px;" class="card-name">{{travel.destination}}</p>
                            <p style="opacity: 0.5; margin-top: 3px; margin-bottom: 2px;">{{travel.start_date}} - {{travel.end_date}}</p>
                            <p style="opacity:0.8;"><span>Creator: </span>{{travel.creator.name}}</p>
                        </div>
                        {% endfor %}
                    </div>
                <!-- {% endif %} -->
            </div>
        </div>
    {% endif %}
    
    <div class="feedback">
        <div class="container">
            <h2>Our Users Feedback.</h2>
            <hr>
            <div class="bubbles">
                <div class="speech-bubble">
                    <p>Whenever I travelled in the US or abroad I always found someone who joined me on my adventures.</p>
                    <p class="name">~Tanjina Rahman</p>
                </div>
                <div class="speech-bubble">
                    <p>Whenever I travelled in the US or abroad I always found someone who joined me on my adventures.</p>
                    <p class="name">~Tanjina Rahman</p>
                </div>
                <div class="speech-bubble">
                    <p>Whenever I travelled in the US or abroad I always found someone who joined me on my adventures.</p>
                    <p class="name">~Tanjina Rahman</p>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <img src="/static/img/logo-daone.svg" class="logo" alt="logo">
            <p>© 2020 Travel Buddy | All rights reserved.</p>
        </div>
    </footer>


</body>
</html>
<!-- <div class="all-travels">
    <div class="container">
        <h3>Other User's Travel Plans</h3>
        <table class = "table">
            <tr class = "thead-dark">
                <th>User</th>
                <th>Destination</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Do You Want to Join?</th>
            </tr>
            {% if others %}
                {% for travel in others %}
                    <tr>
                        <td>{{travel.creator.name}}</td>
                        <td><a href="/travels/destination/{{travel.id}}">{{travel.destination}}</a></td>
                        <td>{{travel.start_date}}</td>
                        <td>{{travel.end_date}}</td>
                        <td><a href="/travels/join/{{travel.id}}">Join</td></a>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div> -->