{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'styles/viewtrip.css'%}">
    <title>Destination</title>
</head>
<body>
    <div class = "container">
        <div>
            <a href="/travels"><img src="/static/img/logo-daone.svg" alt="logo" id="logo"></a>
            <nav>
                <ul>
                    <li><a href="/travels" class="button login-btn">Home</a></li>
                    <li><a class = "button login-btn">|</a></li>
                    <li><a href="/logout" class="button login-btn">Log out</a></li>
                </ul>
            </nav>
        </div>
        <div class="card">
            <!-- <div class="profile-sidebar">
                <h2 class="profile-name">{{travel.destination}}</h2>
                <p class="profile-position">{{travel.creator.name}}</p>
            </div> -->
            <div class="profile-main">
                <h2 class="profile-name">{{travel.destination}}</h2>
                <p class="profile-position">{{travel.start_date}} - {{travel.end_date}}</p>
                <p class="profile-bodyR"><span>Creator: </span>{{travel.creator.name}}</p>
                <p class="profile-body"> <span> Description: </span>{{travel.description}}</p>
                <div class = "others profile-body">
                    <h2>Travel buddies: </h2>
                    {% if others %}
                        <ul class="all-joiners">
                        {% for other in others %}
                        {% if other.name != travel.creator.name %}
                            <li class="all-join">{{other.name}}</li>
                        {% endif %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</body>
</html>